SAE/Web References/AmadeusTest/AMA_WSLink.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:ns1="http://wsdl.amadeus.com/2010/06/ws/Link_v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wsdl.amadeus.com/2010/06/ws/Link_v1" version="1.000" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TransactionFlowLink" type="ns1:TransactionFlowLinkType">
    <xs:annotation>
      <xs:documentation>A set of indicators to link a flow</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TransactionFlowLinkType">
    <xs:annotation>
      <xs:documentation>A link to uniquely identify an end-user flow</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Consumer" type="ns1:ConsumerType">
        <xs:annotation>
          <xs:documentation>Description of the client</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Receiver" type="ns1:ReceiverType">
        <xs:annotation>
          <xs:documentation>Description of the server</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsumerType">
    <xs:annotation>
      <xs:documentation>Description of an end-user</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UniqueID" type="ns1:UniqueIdType">
        <xs:annotation>
          <xs:documentation>A unique id generated by the consumer to uniquely identify a client</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UniqueIdType">
    <xs:restriction base="xs:anyURI">
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReceiverType">
    <xs:annotation>
      <xs:documentation>Description of the server</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ServerID" type="ns1:UniqueIdType">
        <xs:annotation>
          <xs:documentation>A unique id generated by the server to uniquely identify a link</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>