SAE/Web References/AmadeusPRD/Air_MultiAvailabilityReply_16_1_1A.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xml.amadeus.com/SATRSP_16_1_1A" elementFormDefault="qualified" targetNamespace="http://xml.amadeus.com/SATRSP_16_1_1A" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Air_MultiAvailabilityReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Availability/Schedule/Timetable Response Message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageActionDetails" type="MessageActionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specification of the action code of the response</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="5" name="errorOrWarningSection">
          <xs:annotation>
            <xs:documentation xml:lang="en">Warnings and Errors found at process level</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorOrWarningInfo" type="ApplicationErrorInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Error or Warning message found at process level</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="textInformation" type="InteractiveFreeTextTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Error or Warning free flow text found at process level</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="2" name="singleCityPairInfo">
          <xs:annotation>
            <xs:documentation xml:lang="en">Information related to one city pair</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="locationDetails" type="OriginAndDestinationDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of board point and off point of the segment</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="9" name="cityPairFreeFlowText" type="InteractiveFreeTextTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Free flow text found at city pair level</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="5" name="cityPairErrorOrWarning">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Warnings and Errors found at city pair level</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cityPairErrorOrWarningInfo" type="ApplicationErrorInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Error or Warning message found at city pair level</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cityPairErrorOrWarningText" type="InteractiveFreeTextTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Error or Warning free flow text found at city pair level</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="300" name="flightInfo">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Information related to a flight. The repetition has been increased to 300 to support availability award calendar requests.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="basicFlightInfo" type="AvailabilityProductInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Main information on the flight</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dateInfo" type="DateAndTimeInformationType" />
                    <xs:element minOccurs="0" name="pointTypeDetails" type="CodedAttributeType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Tells the type of the board/off point for this travel solution.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="providerDetails" type="CompanyInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The provider details of this travel solution.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="26" name="infoOnClasses" type="ClassInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Information on classes</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="4" name="cabinClassInfo">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Information related to classes ordered by cabin</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cabinInfo" type="CabinDetailsType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Information on cabins</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="26" name="infoByCabinOnClasses" type="ClassInformationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Information on classes associated to a cabin</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="2" name="additionalFlightInfo" type="AdditionalProductDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Additional information on the flight</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="realTimeDateTimes" type="StructuredDateTimeInformationType" />
                    <xs:element minOccurs="0" maxOccurs="4" name="stops" type="ConnectionType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Lists the stops and indicates if border point</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="servicesOnboard" type="FreeTextInformationType" />
                    <xs:element minOccurs="0" maxOccurs="99" name="ssrQuotaDetails" type="SpecialRequirementsQuotaType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">SSR informations at leg/flight level</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="26" name="legCabinInfo">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Leg cabin informations</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cabinIdentification" type="SegmentCabinIdentificationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Contains the cabin code</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="legCabinCapacity" type="AircraftConfigurationVersionType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Leg Cabin Capacity</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="legCabinAvlCounters" type="LegCabinAvailabilitiesType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Availability counters</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="trafficRestrictionList" type="TrafficRestrictionTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specification of the traffic restrictions applied on a segment</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="aircraftInformation">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Group with ACV code and saleable config.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="acvInformation" type="AircraftConfigurationVersionType_167685S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Aircraft Configuration View information</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="saleableConfiguration" type="EquipmentInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Saleable config information</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="cabinClassServiceList" type="CabinClassServicesType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This segment handles list of Cabins/Classes informations</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="6" name="flightErrorWarningSection">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Warnings and Errors found at flight level</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="flightErrorWarningInfo" type="ApplicationErrorInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Error or Warning message found at flight level</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="flightErrorWarningText" type="InteractiveFreeTextTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Error or Warning free flow text found at flight level</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="negoSpaceDetails" type="NegociatedSpaceType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify information on a negociated space availability</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="travelChoiceMessage">
          <xs:annotation>
            <xs:documentation xml:lang="en">Customer Server Edifact message</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="summaryAndAvailabilityLines" type="PrefAndPolicySummaryAndAvailLineType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To summarise the preferences and policies that have been selected and the availability line</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="3" name="preferencesSection">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To specify air preferences</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="profileIdentificationSection" type="ReservationControlInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify a reference to a profile</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="travellerInformation" type="TravellerInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify a traveller and personal details relating to the traveller</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="associationName" type="ProfileNameType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify a profile name for corporate, agencies or organizations</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="originAndDestinationRules" type="OriginAndDestinationRequestType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify origin and destination rules</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cabinRules" type="CabinEligibilityRulesType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify Cabin eligibility rules</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="availabilityInformationSection" type="AvailabilityInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify availability informations</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="itineraryPreference" type="ItineraryPreferencesType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify itinerary preferences</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalEquipmentInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify equipment configuration, registration number, and cabin facilities.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Aircraft Configuration View information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalProductDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey additional information concerning an airline flight</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="flightDetails" type="AdditionalProductTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Additional details describing a specific means of transport</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureStation" type="StationInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Station Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalStation" type="StationInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Station Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="milageDetails" type="MileageTimeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Accumulated elapsed time for multi-leg flight and distance by flight leg.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="travellerTimeDetails" type="TravellerTimeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger departure and arrival times from gate (e.g. airports with mobile lounges)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="productFacilities" type="ProductFacilitiesTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines indicators for facilities</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalProductTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Additional product details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="typeOfAircraft" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">UN/IATA code identifying type of aircraft</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="numberOfStops" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of stops enroute made in a journey</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="legDuration" type="Duration99_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elapsed flying time of the journey (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="onTimePercentage" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">On time performance indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dayOfOperation" type="NumericInteger_Length1To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day of week indicator based on schedules format:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="effectivePeriod" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">Time table effective and discontinue date: ddmmyyddmmyy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="complexingFlightIndicator" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates if the flight is a complexing or a change of gauge flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="firstChangeOfGauge" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character airport/city code where 1st change of gauge occurs</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="secondChangeOfGauge" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character airport/city code where 2nd change of gauge occurs</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="thirdChangeOfGauge" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character airport/city code where 3rd change of gauge occurs</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AircraftConfigurationVersionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify aircraft configuration version of an aircraft</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="5" name="cabinClassDetails" type="ConfigurationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To Cabin/Class Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AircraftConfigurationVersionType_167685S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify aircraft configuration version of an aircraft</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="configVersionDetails" type="AdditionalEquipmentInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">ADDITIONAL EQUIPMENT INFORMATION Aircraft configuration version details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Application error detail</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The code assigned by the receiver of a message for identification of  a data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies type of code list</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="listResponsible" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies agency responsible for code list</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="error" type="ApplicationErrorDetailTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the type and code of an error</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssociatedPreferenceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Preference associated</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rcType" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of profile associated to this class:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="highlight" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Level of highlighting :</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssociatedPreferenceType_237163C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Preference associated</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rcType" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of profile associated to this company:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="highlight" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Level of highlighting</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="priority" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Priority for airline preference</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityComponentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="reservationControlType" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="informationLine" type="AlphaNumericString_Length1To54">
        <xs:annotation>
          <xs:documentation xml:lang="en">Availability information line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="moreIndicator" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">More selected availability lines indicator, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityInformationDetailsType">
    <xs:sequence>
      <xs:element name="line" type="AlphaNumericString_Length1To54">
        <xs:annotation>
          <xs:documentation xml:lang="en">Availability information line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destinationValue" type="AlphaNumericString_Length2To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Destination value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify Availability Information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="availabilityInformation" type="AvailabilityInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">AVAILABILITY INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDetails" type="ProductDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on date and time of a flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureLocation" type="LocationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure location of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="3" name="departurePreference" type="AssociatedPreferenceType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this departure point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalLocation" type="LocationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival location of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="3" name="arrivalPreference" type="AssociatedPreferenceType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this arrival point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="marketingCompany" type="CompanyIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the marketing airline of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="3" name="markCompanyPreferences" type="AssociatedPreferenceType_237163C">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="operatingCompany" type="CompanyIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the operating airline of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="3" name="operCompanyPreference" type="AssociatedPreferenceType_237163C">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="flightIdentification" type="ProductIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="productTypeDetail" type="ProductTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the flight type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lineItemNumber" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Journey number as on the screen display</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassDesignationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Cabin class designation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="cabinClassOfService" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin type:</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassFeaturesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">List of services/features associated to cabin/class</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="level" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin or class level</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="service" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identify the features associated to the class/cabin</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Description of the service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="26" name="designator" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin/Class code designator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassServicesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey services for cabin or class</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="serviceType" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of service used</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="cabinClassInfo" type="CabinClassFeaturesType">
        <xs:annotation>
          <xs:documentation xml:lang="en">List of services/features associated to cabin/class</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the physical layout of a cabin class or compartment for seating</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinDesignation" type="CabinClassDesignationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product class, number and designator which defines a cabin in a means of transport.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinEligibilityRulesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify Cabin Eligibility rules.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="generalCabinPreferences" type="GeneralCabinPrefRulesType">
        <xs:annotation>
          <xs:documentation xml:lang="en">GENERAL CABIN PREFERENCES RULES</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="2" name="cabinExclusion" type="GeneralCabinExclusionsRulesType">
        <xs:annotation>
          <xs:documentation xml:lang="en">GENERAL CABIN EXCLUSIONS RULES</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="domesticFlightCabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Domestic flight cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eftCabinPreference" type="ElapsedFlyingTimeRulesType">
        <xs:annotation>
          <xs:documentation xml:lang="en">ELAPSED FLYING TIME RULES</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of classes option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productClassDetail" type="ProductDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on a class</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="3" name="preferenceForTheClass" type="AssociatedPreferenceType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this class.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">The location point for this travel solution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="attributeDescription" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tells the type of the board/off point for this travel solution.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="2" name="attributeDetails" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The location point for this travel solution.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Company identification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 2-3 character code to specify the marketing airline designator code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the company information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="travelSector" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to qualify the company code, to identify the industry business it belongs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="companyCode" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the company code of a company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="companyName" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the company name of a company</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigurationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">CONFIGURATION DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="classDesignator" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin class code designator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="numberOfSeats" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of seats in the cabin class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="26" name="characteristic" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Booking Class identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the location, product supplier and time for a connection with the next means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="AlphaNumericString_Length1To25" />
      <xs:element minOccurs="0" name="processIndicator" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify connection city and airline designator.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="connectionDetails" type="ConnectionDetailsTypeI" />
      <xs:element minOccurs="0" maxOccurs="4" name="otherConnectionDetails" type="ConnectionDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="qualifier" type="AlphaNumericString_Length1To3" />
      <xs:element minOccurs="0" name="date" type="Date_DDMMYY" />
      <xs:element minOccurs="0" name="time" type="Time24_HHMM" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information regarding estimated or actual dates and times of operational events</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="2" name="dateAndTimeDetails" type="DateAndTimeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">DATE AND TIME DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElapsedFlyingTimeRulesType">
    <xs:sequence>
      <xs:element name="elapsedFlyingTime" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elapsed flying time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="greaterThanEFTCabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Greater than EFT cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lowerThanEFTCabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Lower than EFT cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="travellerCategory" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tripCategory" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Trip category</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmbargoedTransitsType">
    <xs:sequence>
      <xs:element name="value" type="AlphaString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transit value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquipmentInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify configuration details of an aircraft.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="configurationCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Saleable Config information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType" />
      <xs:element maxOccurs="99" name="freeText" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Free text qualification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codedIndicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates whether the free text is coded or not coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="typeOfInfo" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coded text, or specifies type of information in 4440</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isoLanguageCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO Code for Language of free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneralCabinExclusionsRulesType">
    <xs:sequence>
      <xs:element minOccurs="0" name="cabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneralCabinPrefRulesType">
    <xs:sequence>
      <xs:element name="cabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="travellerCategory" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tripCategory" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Trip category</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free form or coded text information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="freeTextQualification" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifies the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="freeText" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Text information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItineraryPreferencesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify itinerary preferences.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="2" name="preferredAirport" type="PreferredAirportsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">PREFERRED AIRPORTS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="10" name="embargoedTransit" type="EmbargoedTransitsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">EMBARGOED TRANSITS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegCabinAvailabilitiesType">
    <xs:sequence>
      <xs:element name="ups" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leg-Cabin UPR</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingsCounter" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leg-Cabin Bookings Counter  0 if no bookings</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="netAvailability" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Net Availability (NAV)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="grossAvailability" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Gross Availability (GAV)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="acp" type="NumericDecimal_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Average Cancellation Profile (Leg-Cabin)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expectedToBoard" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Expected to board (ETB)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="staffStandbyCounter" type="NumericInteger_Length1To15" />
      <xs:element minOccurs="0" name="waitlistBookingsCounter" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leg-Cabin Waitlisted Bookings Counter</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="groupBookingsCounter" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leg-Cabin Group Bookings Counter</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Location</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityAirport" type="AlphaNumericString_Length3To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 3 character code to specify place of departure, or a 7 digits code specifying a departure rail station (UIC code).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="functionDetails" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the action code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="responseType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates if the process has been successfully completed</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Message function or business details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="businessFunction" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Business function type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Main function Action Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subActionCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A sub-function to further identify what has been performed</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MileageTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Milage or time details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="flightLeg" type="NumericInteger_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight leg mileage</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="measureUnit" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Measure unit qualifier M = Miles</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NegociatedSpaceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIFY INFORMATION ON A NEGOTIATED SPACE AVAILABILITY</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ownerDetails" type="OwnerDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifications of the owner</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tourName" type="AlphaNumericString_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tourReference" type="AlphaNumericString_Length1To40">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="recordLocator" type="AlphaNumericString_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="negoStatus" type="AlphaNumericString_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Negociated Space Status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="origin" type="AlphaNumericString_Length3To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character ATA/IATA airport/city code for origin</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destination" type="AlphaNumericString_Length3To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character ATA/IATA airport/city code for destination</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationExclusionsType">
    <xs:sequence>
      <xs:element name="airlineCode" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="privilegeIndicator" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Lock indicator, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="owner" type="AlphaNumericString_Length6To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationPrefType">
    <xs:sequence>
      <xs:element name="airlineCode" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="privilegeIndicator" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Lock indicator, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="owner" type="AlphaNumericString_Length6To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="priority" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Priority</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="originValue" type="AlphaNumericString_Length2To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Origin value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destinationValue" type="AlphaNumericString_Length2To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Destination value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="travellerCategory" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tripCategory" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Trip category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="cabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="cabinClass" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify origins and destinations rules.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="10" name="originAndDestinationPreference" type="OriginAndDestinationPrefType">
        <xs:annotation>
          <xs:documentation xml:lang="en">ORIGIN AND DESTINATION PREFERENCES</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="10" name="originAndDestinationExclusions" type="OriginAndDestinationExclusionsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">ORIGIN AND DESTINATION EXCLUSIONS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerDetailsType">
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="indicator" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrefAndPolicySummaryAndAvailLineType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To summarise the preferences and policies that have been selected and the availability line.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="summaryLine" type="AlphaNumericString_Length1To250">
        <xs:annotation>
          <xs:documentation xml:lang="en">Policies and preferences summary line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="activeProfileType" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="availabilityComponent" type="AvailabilityComponentType">
        <xs:annotation>
          <xs:documentation xml:lang="en">AVAILABILITY COMPONENT</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreferredAirportsType">
    <xs:sequence>
      <xs:element name="code" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airport code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product date or time</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="departureDate" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Date (ddmmyy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureTime" type="Time24Extended_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalDate" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival date (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalTime" type="Time24Extended_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of a class type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="serviceClass" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="availabilityStatus" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates availability status, coded or numeric</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="2" name="modifier" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation booking modifier:</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductFacilitiesTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product facilities</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines indicators for facilities</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product identification details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number, a 1-4 digit number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="operationalSuffix" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An operational suffix (A-E) related to flight number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product type details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="9" name="productIndicators" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on the flight type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfileNameType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a profile name for groups, corporates and agencies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="correspondingProfileType" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="profileName" type="AlphaNumericString_Length3To60">
        <xs:annotation>
          <xs:documentation xml:lang="en">Profile name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuotaRelatedInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey quota information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="quotaCounterName" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the quota counter, most of the time aligned with SSR type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="maxQuantity" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Maximum quantity that can be reached.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="availability" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity that is available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="counter" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Count of the items already booked in the quota.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="profileRecordLocator" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SegmentCabinIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To reference a segment cabin</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinCode" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin class designator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsQuotaDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIAL REQUIREMENTS QUOTA DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="cabinCode" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of the leg cabin on which the quota applies. If no cabin , the quota applies on the whole Leg.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nestReference" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of the nest family if any. This means availability is shared with other quota of the same family.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsQuotaType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify special requests or services quota information related to a fligth.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quotaInfo" type="QuotaRelatedInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite enables user to convey quota-related information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ssrQuotaInfo" type="SpecialRequirementsQuotaDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">this composite allows to convey optional ssr quota details (cabin, nest)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Station information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="gate" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate gate of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="terminal" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate terminal of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="concourseTerminal" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate concourse terminal of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="dateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="hour" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="minutes" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="seconds" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seconds between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrafficRestrictionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Traffic restriction details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traffic restriction code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrafficRestrictionTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey certain restrictions that apply to a means of transport on all or part of a journey</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="5" name="trafficRestriction" type="TrafficRestrictionDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">defines the traffic restrictions</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="AlphaNumericString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller Given Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="passengerType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="travellerAccompaniedByInfant" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller accompanied by infant</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="passengerID" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other names</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a travellers and personal details relating to the taravellers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nameInformation" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER SURNAME INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="2" name="otherInformation" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:sequence>
      <xs:element name="name" type="AlphaNumericString_Length1To57">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="groupIndicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="numberOfTravellers" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Traveller time details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="departureTime" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger schedule time of departure (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalTime" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger schedule time of arrival (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="checkInDateAndTime" type="NumericInteger_Length10To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Check in date and time (ddmmyyhhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To320">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..320</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="320" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To40">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..40</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length6To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To250">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..250</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length10To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{10,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To54">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..54</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="54" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To57">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..57</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="57" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length6To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an6..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Duration99_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 100H. All digits are mandatory. Example: from 0000 to 9959</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9][0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24Extended_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H, extended to include 24:00. All digits are mandatory . Example: from 0000 to 2400</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]|2400" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_hH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1]?[0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Minute_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the minutes in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>