SAE/Web References/AmadeusPRD/Custom1_TST_10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:command_crypticreply_7_3="http://xml.amadeus.com/HSFRES_07_3_1A" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:fare_masterpricertravelboardsearch_14_3="http://xml.amadeus.com/FMPTBQ_14_3_1A" xmlns:air_multiavailabilityreply_16_1="http://xml.amadeus.com/SATRSP_16_1_1A" xmlns:tns="http://xml.amadeus.com/Custom1_PDT_1_0" xmlns:fare_masterpricertravelboardsearchreply_14_3="http://xml.amadeus.com/FMPTBR_14_3_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:command_cryptic_7_3="http://xml.amadeus.com/HSFREQ_07_3_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:air_multiavailability_16_1="http://xml.amadeus.com/SATRQT_16_1_1A" targetNamespace="http://xml.amadeus.com/Custom1_PDT_1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="Air_MultiAvailability_16_1_1A.xsd" namespace="http://xml.amadeus.com/SATRQT_16_1_1A" />
      <xs:import schemaLocation="Air_MultiAvailabilityReply_16_1_1A.xsd" namespace="http://xml.amadeus.com/SATRSP_16_1_1A" />
      <xs:import schemaLocation="Command_Cryptic_07_3_1A.xsd" namespace="http://xml.amadeus.com/HSFREQ_07_3_1A" />
      <xs:import schemaLocation="Command_CrypticReply_07_3_1A.xsd" namespace="http://xml.amadeus.com/HSFRES_07_3_1A" />
      <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearch_14_3_1A.xsd" namespace="http://xml.amadeus.com/FMPTBQ_14_3_1A" />
      <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearchReply_14_3_1A.xsd" namespace="http://xml.amadeus.com/FMPTBR_14_3_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Air_MultiAvailability_16_1">
    <wsdl:part name="Air_MultiAvailability_16_1" element="air_multiavailability_16_1:Air_MultiAvailability" />
  </wsdl:message>
  <wsdl:message name="Air_MultiAvailabilityReply_16_1">
    <wsdl:part name="Air_MultiAvailabilityReply_16_1" element="air_multiavailabilityreply_16_1:Air_MultiAvailabilityReply" />
  </wsdl:message>
  <wsdl:message name="Command_Cryptic_7_3">
    <wsdl:part name="Command_Cryptic_7_3" element="command_cryptic_7_3:Command_Cryptic" />
  </wsdl:message>
  <wsdl:message name="Command_CrypticReply_7_3">
    <wsdl:part name="Command_CrypticReply_7_3" element="command_crypticreply_7_3:Command_CrypticReply" />
  </wsdl:message>
  <wsdl:message name="Fare_MasterPricerTravelBoardSearch_14_3">
    <wsdl:part name="Fare_MasterPricerTravelBoardSearch_14_3" element="fare_masterpricertravelboardsearch_14_3:Fare_MasterPricerTravelBoardSearch" />
  </wsdl:message>
  <wsdl:message name="Fare_MasterPricerTravelBoardSearchReply_14_3">
    <wsdl:part name="Fare_MasterPricerTravelBoardSearchReply_14_3" element="fare_masterpricertravelboardsearchreply_14_3:Fare_MasterPricerTravelBoardSearchReply" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:portType name="Custom1_PDT_1_0_ServicesPT">
    <wsdl:operation name="Air_MultiAvailability">
      <wsdl:input message="tns:Air_MultiAvailability_16_1" />
      <wsdl:output message="tns:Air_MultiAvailabilityReply_16_1" />
    </wsdl:operation>
    <wsdl:operation name="Command_Cryptic">
      <wsdl:input message="tns:Command_Cryptic_7_3" />
      <wsdl:output message="tns:Command_CrypticReply_7_3" />
    </wsdl:operation>
    <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
      <wsdl:input message="tns:Fare_MasterPricerTravelBoardSearch_14_3" />
      <wsdl:output message="tns:Fare_MasterPricerTravelBoardSearchReply_14_3" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>